:root {
  --main-color: #0a2540;
  --accent-color: #635bff;
  --white-color: #f6f9fc;
  --text-color: #425466;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 920px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* XL */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
/* general */
body {
  background-color: var(--white-color, #fff);
  color: var(--text-color, darkolivegreen);
}
/* articles */
.scroll-container {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: 8fr 10fr;
  gap: 1rem;
  overflow-y: scroll;
  padding-block: 10vh;
  margin-bottom: 10vh;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-container::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* .scroll-container > div {
  flex: 0;
  width: 50%;
  flex-basis: auto;
} */
/* .scroll-container > div:first-child {
  flex-basis: 100%;
}
.scroll-container > div:last-child {
  flex-basis: 100%;
} */
section.article {
  margin-bottom: 12rem;
}
.sub-heading {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 0.85rem;
  display: inline-block;
  margin-bottom: 1.5rem;
}
.main-heading {
  color: var(--main-color);
  font-size: 33px;
  line-height: 1em;
  margin-bottom: 2rem;
}
.main-heading.large {
  font-size: 50px;
}

.cta {
  font-size: 15px;
  line-height: 1.6;
  padding: 5px 12px 6px 16px;
  border-radius: 20px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  outline: none;
  margin-block: 2rem 3rem;
}

ul {
  font-size: 0.85rem;
  list-style-type: none;
  padding: 0;
}
.see-also {
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
a {
  color: var(--accent-color);
  text-decoration: none;
}
.preview {
  position: sticky;
  position: -webkit-sticky; /* for Safari */
  top: 0;
  align-self: flex-start;
  justify-self: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 10px rgba(10, 37, 64, 0.05);
}

.preview img {
  display: block;
  max-width: 100%;
  height: fit-content;
}

.preview img.slide-left {
  animation: slide-left 1s forwards, fade-out 0.4s forwards ease-out;
}
@keyframes slide-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-110%);
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
